{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2021,
		"project": ["./tsconfig.json"]
	},
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": ["airbnb-typescript/base", "prettier"],
	"env": {
		"browser": true
	},
	"rules": {
		"no-console": 0,
		"no-alert": 0,
		"func-names": 0,
		"import/prefer-default-export": 0,
		"no-param-reassign": 0,
		"class-methods-use-this": 0,
		"no-underscore-dangle": 0,
		"max-params": [2, 4],
		"import/no-cycle": [2, { "maxDepth": 1 }],
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto",
				"singleQuote": true
			}
		]
	}
}
