@use '../../styles/variables.scss' as *;

.chat {
	width: 100%;

	.body {
		height: 73vh;
		width: 100%;

		&__date {
			color: $gray;
			display: block;
			margin-top: 3rem;
			text-align: center;
		}

		&__right-message {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}

		&__message-wrapper {
			margin: 50px 25px 20px;
			max-width: 480px;
		}

		&__message {
			background-color: $soft-gray;
			border-radius: 10px;
			font-size: 1rem;
			padding: 15px;
			width: auto;
		}

		&__time {
			color: $gray;
			display: block;
			font-size: 14px;
			text-align: right;
		}
	}

	.type {
		bottom: 0;
		display: flex;
		margin-top: 20px;
		position: fixed;
		width: 100%;
		z-index: 999;

		&-input-wrapper {
			width: 65%;
		}

		&-button-wrapper {
			width: 5%;
		}

		&__input {
			background-color: $soft-gray;
			border: 0;
			border-color: $gray;
			box-shadow: none;
			font-family: "Raleway", sans-serif;
			font-size: 1rem;
			padding: 20px 50px 20px 20px;

			&:focus {
				outline: none;
			}
		}

		&__button {
			height: 100%;
			margin-top: 0;
			position: relative;

			&::after {
				background: url("../../assets/icons/triangle.svg") no-repeat;
				content: "";
				height: 20px;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 20px;
				z-index: 999;
			}
		}
	}
}
