@use '../../styles/variables.scss' as *;

.chat {
	.header {
		background-color: $soft-gray;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		padding: 22px;
		position: sticky;
		top: 0;
		z-index: 999;

		&__title {
			display: inline-block;
			font-weight: 500;
			margin: 0;
		}

		&__delete {
			background: none;
			border: 0;
			cursor: pointer;
		}
	}

	.body {
		width: 100%;

		&__date {
			color: $gray;
			display: block;
			margin-top: 3rem;
			text-align: center;
		}

		&__right-message {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}

		&__message-wrapper {
			margin: 50px 25px 20px;
			max-width: 480px;
		}

		&__message {
			background-color: $soft-gray;
			border-radius: 10px;
			font-size: 1rem;
			padding: 15px;
			width: auto;
		}

		&__time {
			color: $gray;
			display: block;
			font-size: 14px;
			text-align: right;
		}
	}

	.type {
		bottom: 0;
		display: flex;
		margin-top: 20px;
		position: sticky;
		z-index: 999;

		&__input {
			background-color: $soft-gray;
			border: 0;
			border-color: $gray;
			box-shadow: none;
			font-family: "Raleway", sans-serif;
			font-size: 1rem;
			padding: 20px 50px 20px 20px;
			width: 100%;

			&:focus {
				outline: none;
			}
		}

		&__button {
			margin-top: 0;
			padding: 20px;
			position: relative;
			width: 10%;

			&::after {
				background: url("../../assets/icons/triangle.svg") no-repeat;
				content: "";
				height: 20px;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 20px;
				z-index: 999;
			}
		}
	}
}
