@use '../../styles/variables.scss' as *;

.error-cart {
  width: 500px;
  padding: 50px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;

  &__title {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.7rem;
    margin-top: 0;
  }

  &__message {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }

  &__button {
    margin-top: 40px;
  }
}
