@use './variables.scss' as *;

// @import url("./_variables.scss");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@500;600&display=swap");

// ui
@import url("../components/ui/Button/_button.scss");
@import url("../components/ui/Input/_input.scss");
@import url("../components/ui/userPreview/_userPreview.scss");

// components
@import url("../components/Login/_login.scss");
@import url("../components/ErrorMessage/_error.scss");
@import url("../components/Register/_register.scss");
@import url("../components/Sidebar/_sidebar.scss");
@import url("../components/Chat/_chat.scss");
@import url("../components/ProfileCart/_profileCart.scss");

html {
	font-size: 18px;
}

body {
	font-family: "Raleway", sans-serif;
	margin: 0;
}

label {
	font-size: 14px;
}

#app {
	height: 100vh;
}

.hidden {
	display: none;
}

.login,
.error {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.register {
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
}

.content-wrapper {
	display: flex;

	&__content {
		height: 100vh;
		overflow-y: scroll;
		width: 70%;
	}

	&__content_center {
		align-items: center;
		display: flex;
		height: 80vh;
		justify-content: center;
	}
}

.empty {
	color: #999;
	font-size: 1rem;
	font-weight: 600;
}

.header {
	background-color: $soft-gray;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 22px;
	position: sticky;
	top: 0;
	z-index: 999;

	&__dropdown {
		background-color: $soft-gray;
		padding: 0.5rem 1rem;
		position: absolute;
		right: 0;
		top: 3.9rem;
		width: 15rem;

		ul {
			margin: 0;
			padding: 0;
			li {
				cursor: pointer;
				list-style: none;
				padding: 12px 0;
			}
		}
	}

	&__title {
		display: inline-block;
		font-weight: 500;
		margin: 0;
	}

	&__toggle {
		background: none;
		border: 0;
		cursor: pointer;

		img {
			height: auto;
			width: 1.2rem;
		}
	}
}

.create-wrapper,
.add-user-wrapper,
.remove-user-wrapper {
	width: 50%;
}

.chat-wrapper {
	width: 100%;
}
