@use '../../../styles/variablles.scss' as *;

.button {
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 20px 0 20px 0;
  box-shadow: none;
  border: none;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  cursor: pointer;
  margin-top: 10px;

  &:hover,
  &:focus {
    background-color: $gray;
    transition: 0.3s;
    color: white;
  }
}
