@use '../../../styles/variables.scss' as *;

.button {
	background-color: #000;
	border: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 10px;
	padding: 20px 0;
	width: 100%;

	&:hover,
	&:focus {
		background-color: $gray;
		color: #fff;
		transition: 0.3s;
	}

	&:disabled {
		background-color: $light-gray;
		cursor: not-allowed;

		&:hover {
			background-color: $light-gray;
		}
	}
}
