extends ../layout/main.pug

block content
    main.content-wrapper
        include ../components/Sidebar/sidebar.pug
        h3.messenger__message Выберите чат чтобы отправить сообщение

    script(src='../components/Sidebar/sidebar.js')
