extends ../layout/main.pug

block content
    main.content-wrapper
        include ../components/Sidebar/sidebar.pug
        .content-wrapper__content.content-wrapper__content_center
            h3.empty Выберите чат чтобы отправить сообщение

    script(src='../components/Sidebar/sidebar.js')
