@use '../../../styles/variables.scss' as *;

.user-preview {
	border-bottom: 1px solid $soft-gray;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	height: 65px;
	justify-content: space-between;
	padding: 25px;

	&:hover {
		background-color: $soft-gray;
		transition: 0.1s;
	}

	&__image {
		background-color: $light-gray;
		border-radius: 50%;
		height: 60px;
		width: 60px;
	}

	&__first-wrapper {
		align-items: center;
		display: flex;
		margin-right: 20px;
		width: 20%;
	}

	&__second-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-right: 20px;
		width: 60%;
	}

	&__third-wrapper {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 20%;
	}

	&__title {
		font-weight: 600;
		margin-bottom: 15px;
		min-height: 18px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__message {
		color: $gray;
		font-size: 14px;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__time {
		color: $gray;
		font-size: 14px;
	}

	&__counter-wrapper {
		align-items: center;
		background-color: rgb(255, 0, 0);
		border-radius: 20px;
		display: flex;
		height: 20px;
		justify-content: center;
		max-width: 100%;
		max-width: 30px;
		min-width: 20px;
		padding: 3px;
		width: auto;
	}

	&__counter {
		color: #fff;
		display: table-cell;
		font-size: 14px;
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	}
}
