@use '../../../styles/variablles.scss' as *;

.input {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  padding: 15px 0 15px 0;
  box-shadow: none;
  border-width: 0 0 1px;
  border-color: $gray;

  &:focus {
    outline: none;
    transition: 0.2s;
    border-color: black;
  }

  &:disabled {
    background-color: white;
    color: $gray;
  }
}
