@use '../../../styles/variables.scss' as *;

.input {
	border-color: $gray;
	border-width: 0 0 1px;
	box-shadow: none;
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
	padding: 15px 0;
	width: 100%;

	&:focus {
		border-color: #000;
		outline: none;
		transition: 0.2s;
	}

	&:disabled {
		background-color: #fff;
		color: $gray;
	}
}
