-
  var users = {
    1: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    2: {
        name: "Test",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    3: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    4: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    5: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    6: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    7: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    8: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    9: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
    10: {
        name: "Иван",
        avatar: "",
        messagePreview: "на 1с нереально написать интеграцию с трелло или с...",
        messageTime: "01:56",
        messageCounter: "2",
    },
  }

aside.sidebar
    .search
        include ../ui/Input/input.pug
        +input('text', '1', 'search', 'Поиск')(class="search__input")
    include ../ui/UserPreview/userPreview.pug
    a(href="./chat.pug")
    if users
        each user, id in users
            +userPreview(user.name, user.avatar, user.messagePreview, user.messageTime, user.messageCounter, id)
    else
        h3.empty Список чатов пуст
    a(href="./profile.pug")
    include ../ui/Button/button.pug
    +button('button', '1', 'Профиль')(class="profile")
        