@use '../../styles/variables.scss' as *;

.login-cart {
	background-color: #fff;
	border-radius: 10px;
	margin: 0 auto;
	padding: 50px;
	width: 500px;

	&__title {
		color: #000;
		font-family: "Montserrat", sans-serif;
		font-size: 2.7rem;
		font-weight: 600;
		margin-top: 0;
	}

	&__input {
		margin-bottom: 40px;
	}

	&__error {
		color: $red;
		font-size: 0.7rem;
		margin-top: -25px;
	}

	&__link {
		color: #000;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		margin-top: 50px;
		text-align: center;
		text-decoration: none;
		width: 100%;

		&:hover {
			color: $gray;
			transition: 0.3s;
		}
	}

	&__button_gray {
		background-color: $gray;
		margin-top: 20px;

		&:hover {
			background-color: #000;
			transition: 0.3;
		}
	}
}
