@use '../../styles/variables.scss' as *;

.profile-cart {
	background-color: #fff;
	border-radius: 10px;
	margin: 0 auto;
	padding: 50px;
	width: 500px;

	&__title {
		color: #000;
		font-family: "Montserrat", sans-serif;
		font-size: 2.7rem;
		font-weight: 600;
		margin-top: 0;
	}

	&__error {
		color: $red;
		display: none;
		font-size: 0.7rem;
		margin-top: -25px;
	}

	&__input {
		margin-bottom: 40px;
	}

	&__button_gray {
		background-color: $gray;
		margin-top: 20px;

		&:hover {
			background-color: #000;
			transition: 0.3;
		}
	}

	.user {
		display: flex;
		flex-direction: row;
		margin-bottom: 40px;

		&__avatar-input {
			height: 70px;
			width: 70px;
		}

		&__image {
			background-color: $light-gray;
			border-radius: 50%;
			cursor: pointer;
			height: 100%;
			width: 70px;
		}

		&__first-wrapper {
			align-items: center;
			display: flex;
			height: 70px;
			margin-right: 20px;
			position: relative;

			&_edit {
				&::after {
					background: url("../../assets/icons/camera.svg") no-repeat;
					content: "";
					cursor: pointer;
					height: 30px;
					left: 50%;
					opacity: 0;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 30px;
					z-index: 999;
				}

				&:hover::after {
					opacity: 1;
				}

				> input {
					display: none;
				}
			}
		}

		&__second-wrapper {
			display: flex;
			flex-direction: column;
			height: 70px;
			justify-content: center;
		}

		&__title {
			font-weight: 400;
		}

		&__surname {
			color: $gray;
			margin-bottom: 0;
		}
	}

	.actions {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;

		&__link {
			color: #000;
			display: inline-block;
			font-size: 1rem;
			margin-top: 40px;
			text-decoration: none;
			width: 100%;

			&:hover {
				color: $gray;
				transition: 0.3s;
			}
		}

		&__right {
			margin-bottom: 0;
			margin-top: auto;
		}

		.logout {
			color: $red;
		}
	}
}
