block variables

main.content-wrapper__content.content-wrapper__content_profile
    .profile-cart
        include ../ui/Input/input.pug

        .user
            if edit
                .user__first-wrapper.user__first-wrapper_edit
                    label(for="avatar-input").user__avatar-input
                        img().user__image
                    +input('file', 'avatar-input', 'avatar', '', '')(class="profile-cart__input_file")
            else
                .user__first-wrapper
                    img().user__image

            .user__second-wrapper
                span.user__title Илья
                p.user__surname Фамилия
        

        if !changePassword
            label(for="login").label Логин
            +input('text', 'login', 'login', 'Введите логин', 'alkhipce', edit ? false : true)(class="profile-cart__input")
            p.profile-cart__error Неверный логин
            label(for="email").label Почта
            +input('email', 'email', 'email', 'Введите email', 'alkhipce@mail.ru', edit ? false : true)(class="profile-cart__input")
            p.profile-cart__error Неверный формат email
            label(for="phone").label Телефон
            +input('phone', 'phone', 'phone', 'Введите телефон', '+7 777 555 1234', edit ? false : true)(class="profile-cart__input")
            p.profile-cart__error Неверный формат телефона
            if edit
                label(for="name").label Имя
                +input('text', 'name', 'name', 'Введите имя', 'Илья')(class="register-cart__input")
                label(for="surname").label Фамилия
                +input('text', 'surname', 'surname', 'Введите фамилию')(class="register-cart__input")
        else
            label(for="password").label Пароль
            +input('password', 'password', 'password', 'Введите текущий пароль')(class="profile-cart__input")
            p.profile-cart__error Неверный пароль 
            label(for="password-new").label Новый пароль
            +input('password', 'password-new', 'password-new', 'Введите новый пароль')(class="profile-cart__input")
            p.profile-cart__error Неверный пароль 
            label(for="password-new-repeat").label Повторение нового пароля
            +input('password', 'password-new-repeat', 'password-new-repeat', 'Повторите новый пароль')(class="profile-cart__input")
            p.profile-cart__error Неверный пароль 
        
        .actions
            if !edit && !changePassword
                .actions__left
                    a(href="./profileEdit.pug").actions__link Изменить даннные
                    a(href="./passwordChange.pug").actions__link Изменить пароль
                .actions__right
                    a(href="./error.pug").actions__link.logout Выйти
            else
                +button('button', 'saveBtn', 'Сохранить', 'saveBtn')(class="saveBtn")
